<!doctype html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href=" {% static '/ecom/css/style.css' %} ">

    <title>Homepage</title>
  </head>
  <body>
    {% include 'navbar.html' %}

    <div class="col-sm-10">

      <h1 class="my-5 mx-5">Home</h1>

      {% for post in posts %}

      <div class="blogField">

          <div class="container">

              {% comment %} <img src="{{post.images.url}}" style="width: 200px; height: 200px;"> {% endcomment %}

                <h1 class="display-4">{{post.title}}</h1>

              <p class="lead">{{post.desc|safe}}</p>
              
          </div>
      </div>
      {% endfor %}

  </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
  </body>
</html>